/* Nav Bar Responsive Start */

@media screen and (max-width:1066px) {
    nav{
        flex-direction: column;
        width: 100vw;
    }

    .search input{
        width: 50vw;
    }

    .btn button{
        margin: 10px auto;
    }

    .form-ele1{
        margin-left: 0px;
    }

    .navallproduct{
        padding: 10px;
    }
}

/* Nav Bar Responsive End */


@media (min-width: 1600px) {
    :root {
      font-size: 81.25%;
    }
}
  

  
@media (max-width: 980px) {
    
  
    .first-section .intro {
      flex-direction: column;
    }

    .first-section .intro .image-container {
        margin: auto;
        margin-top: 20px;
    }

    .first-section .intro .content {
        margin: auto;
    }
}
  
@media (max-width: 780px) {
    .first-section {
      padding: 8.8rem 0 14.4rem;
      position: relative;
    }
  
    .first-section .intro {
      grid-template-columns: 100%;
    }
  
    .first-section .customers h2:nth-of-type(2) {
      margin-top: 6.6rem;
    }
  
    
}
  
@media screen and  (max-width: 480px) {
    .first-section {
      padding: 8.8rem 0 4.4rem;
      position: relative;
    }
  
    .first-section::after {
      background-image: none;
    }
  
    .first-section .customers {
      position: relative;
      margin-top: 4.5rem;
      padding: 4.5rem 0;
    }
  
    .first-section .customers::after {
      content: "";
      position: absolute;
      background: linear-gradient(to top, var(--blue-light) 0%, var(--blue));
      top: 0;
      bottom: 0;
      left: 50%;
      width: 100vw;
      height: 100%;
      transform: translateX(-50%) skewY(-5deg);
      z-index: -1;
    }
  
    .first-section .customers .work-to {
      grid-template-columns: repeat(200px, 30%);
      justify-content: space-around;
      gap: 2rem;
    }
  
}




@media screen and (max-width: 395px) {
    .first-section .intro .content h1 {
        font-size: 3rem;
    }
}
  
/* Details Section */

@media screen and (max-width: 920px) {
    .cards {
        margin: auto;
        grid-template-columns: 1fr;
    }

    .card-title {
        width: 350px;
    }

    .card-content {
        width: 350px;
    }
}



@media screen and (max-width: 380px){
    .cards {
        display: block !important;
        margin: 0 auto 30px !important;
        
    } 

    .card-title {
        width: 280px;
    }

    .card-content {
        grid-template-columns: 1fr;
        width: 280px;
    }

    .card1,
    .card2,
    .card3 {
        width: 280px;
        margin: 30px 0 30px 0 !important;
    }
}

@media screen and (max-width: 640px) {
    img {
        max-width: 450px;
    }
}

@media screen and (max-width: 490px) {
    img {
        max-width: 300px;
    }
}

@media screen and (max-width: 330px) {
    img {
        max-width: 250px;
    }
}


/* Reviews */

@media screen and (max-width : 630px) {
    .reviews {
        height: 500px;
    }

    .PanelAct {
        flex-direction: column;
    }
}