
* {
  font-family: "Inter";
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* header */

.header {
  display: block;
  max-width: 90%;
  padding: 10px 10px;
  margin: 0px auto;
  justify-content: space-evenly;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
}


.header ul li  {
  display: block;
  margin-right: 30px;
}

.header li a {
  padding: 10px;
  text-decoration: none;
  color: #414155;
  font-weight: 500;
}



/* .header li a:hover,
.header .menu-btn:hover {
  background-color: #A6E1FA; 
  border-radius: 50px;
  
} */

.header .logo {
  display: block;
  float: left;
  text-decoration: none;
}

.header .logo-name {
  padding: 0 10px;
}

.menu > li {
  position: relative;
  color: #000;

}

.menu > li:hover {
  color: #000;
}

.menu > li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* menu */

.menu {
  font-family: "Google Sans Regular";
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.nav-link {
  padding-top: 10px;
  
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu,
.header .menu-btn:checked ~ .try-for-free {
  max-height: 370px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Button Try For free */

.try-for-free{
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background: #706FE5;
  font-weight: bold;
  color: white;
  cursor: pointer;
}


/* Footer */

footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  
}

.footer-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  
}

.footer-about ul {
  list-style: none;
}

.footer-about ul li {
  margin-bottom: 15px;
}

.footer-about ul li a {
  text-decoration: none;
  color: rgb(85, 81, 81);
}

.footer-about ul li a:hover {
  color: rgb(58, 187, 149);
}

.footer-div-1 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reserved {
  text-align: center;
}
 
.reserved i {
  font-size: 35px;
  margin-left: 20px;
  color:rgb(85, 81, 81);
}

.reserved a {
  text-decoration: none;
}

.menu-icon {
  margin-top: -20px;
}
 


@media screen and (max-width: 860px) {
  .header li {
    margin-top: 20px;
  }

}

@media screen and (min-width: 860px) {
  .header li {
    float: left;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  
  
}

@media (max-width: 1008px) and (min-width: 860px) {
  .header {
    font-size: 12px;
  }

  .header ul li  {
    margin-right: 15px;
  }
}

@media screen and (max-width: 580px) {
  .footer-div {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .footer-div {
    margin: auto;
  }

  .logo-image {
    width: 130px;
  }

  
}

/* Intro Section */

.refer-intro-section {
    width: 90%;
    margin: 30px auto 30px auto;
}

.refer-intro-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.refer-intro-content {
    flex: 0.4;
}


.refer-intro-content a {
    text-decoration: none;
}

.refer-intro-content h1 {
    font-family: "Inter";
    font-size: 40px;
    color: #181818;
    font-weight: 500;
}

.refer-intro-image {
    flex: 0.6;
}

.refer-intro-image img {
    width: 100%;
}

.join-button {
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  border: none;
  background: #706FE5;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.share-with-friends {
    background: white;
    border: 1px solid rgb(50, 48, 48);
    color: black;
}

/* How It Works Section */


.how-it-works-section {
    margin: 10px auto 100px auto;
}

.how-it-works-title {
    background-image: url("images/background.png");   
    height: 70px;
}

.how-it-works-title h1 {
    text-align: center;
    padding-top: 17px;
    font-size: 30px;
    color: #FFFFFF;
}

.how-it-works-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.how-it-works-card {
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 6px;
}

.how-it-works-card .card-img img {
    width: 100%;
}

.how-it-works-card .card-content h3,
.how-it-works-card .card-content p {
    text-align: center;
}


/* Benefits Section */


.benefits-section {
    margin: 10px auto 100px auto;
}

.benefits-title {
    background-image: url("images/background.png");   
    height: 70px;
}

.benefits-title h1 {
    text-align: center;
    padding-top: 17px;
    font-size: 30px;
    color: #FFFFFF;
}

.benefits-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.benefits-part1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.benefit-div {
    display: flex;
    padding: 0px 10px;
    align-items: center;
    gap: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.75);
}

.benefit-div i {
    background: #8E54E9;
    padding: 10px;
    border-radius: 8px;
    color: #ffff;
    font-size: 20px;
}

.benefit-div p {
    font-weight: bold;
}


/* Frequenly Asked Question */

.frequently-asked-questions {
    font-family: "Chivo";
    width: 90%;
    margin: 100px auto 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.faq-sub-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100px;
    min-width: 200px;
    border: 1px solid #8E54E9;
    border-radius: 10px;
    margin: 10px;
}

.faq-sub-block-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-sub-block-1 p {
    font-weight: 600;
}



.faq-sub-block:hover {
    box-shadow: 1px 2px 6px 1px rgba(188, 76, 226, 0.5);
}

.faq-sub-block i {
    padding-right: 20px;
    color: #8E54E9;
}


.prev-button-div {
    flex: 0.1;
}

.prev-button-div i {
    color: #8E54E9;
    font-weight: bolder;
    font-size: 50px;
    cursor: pointer;
}


.faqs-div {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}


/* Explore Courses */

.explore-courses {
    margin: auto;
    font-family: "Poppins";
}

.explore-courses-content {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow-x: auto;

}

.explore-courses-frame {
    font-family: "Chivo";
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.prev-button-div1 {
  flex: 0.5;
}

.prev-button-div1 i {
  color: #8E54E9;
  font-weight: bolder;
  font-size: 50px;
  cursor: pointer;
}


.explore-courses-title h1 {
  width: 83%;
  margin: auto;
    font-size: 32px;
}

.explore-courses-title h1 span {
    color: #8E54E9;
}

.course-card {
    min-width: 260px;
    background-color: #FAFAFD;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.course-content {
    font-family: "Roboto";
    padding: 10px;
}

.category {
    color: #747C82;
}

.course-content h3 {
    font-size: 16px;
}

.course-img img {
    border-radius: 10px;
    width: 100%;
}

.course-price {
    color: #747C82;
}

.timings {
    display: flex;

    justify-content: space-between;
}

.course-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.course-buttons a {
    text-decoration: none;
}

.course-buttons a button {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid rgb(99, 94, 94);
    background-color: transparent;
    color: #465159;
    /* font-weight: bold; */
    font-size: 12px;
    cursor: pointer;
}

.start-learning {
    background-color: #8E54E9 !important;
    color: #FFFFFF !important;
}

.explore-course-button {
  display: flex;
  justify-content: center;

}

.explore-course-button a {
  text-decoration: none;
}

.explore-course-button a button {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #8E54E9;
  background-color: transparent;
  color: #8E54E9;
  font-weight: bold;
  cursor: pointer;  
}


/* Review Section */

.review-section {
  width: 90%;
  margin: 100px auto 50px auto;
}

.review-div {
  display: flex;
  flex-direction: column;
}

.review-title h1 {
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  font-size: 25px;
}

.review-title h1 span {
  font-weight: bolder;
}

.review-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.review-card {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.review-card-content p {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 5px;
}

.stars i {
  font-size: 13px;
  color: #F5AB00;
}

.review-card-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.user-image img {
  width: 70px;
}

.user-details .name {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.user-details .role {
  font-size: 13px;
}





/* Responsive */

@media screen and (max-width: 980px) {
    
    /* Intro SEction */
    .refer-intro-content h1 {
        font-size: 30px;
    }
}


@media screen and (max-width: 780px) {
    /* Intro Section */
    .refer-intro-div {
        flex-direction: column;
    }

    .refer-intro-div > * {
        flex: 1;   
    }
    .refer-intro-content h1 {
        font-size: 35px;
    }

    /* Benefits Section */

    .benefits-content {
        flex-direction: column;
        gap: 20px;
    }

    /* Review Section */

    .review-content {
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }

    
}

@media screen and (max-width: 480px) {
    /* Intro Section */

    .refer-intro-section {
        width: 100%;
        padding: 10px;
        
    }

    .refer-intro-div {
        gap: 20px;
    }
    
    .refer-intro-content h1 {
        font-size: 30px;
    }

    .refer-intro-content div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    /* Benefits Section */

    .benefits-title {
        height: 80px;
    }

    .benefits-title h1 {
        font-size: 22px;
        padding-bottom: 10px;
    }

    .benefit-div {
        width: 80%;
        margin: auto;
    }

    /* FAQ Section */

    .faq-sub-block {
      min-width: 150px;
    }


    /* Explore Courses */

    .prev-button-div1 i,
    .prev-button-div i {
      font-size: 20px;
    }

    .course-card {
      min-width: 200px;
    }

    
}

@media screen and (max-width: 490px) {
  /* Review Section */

  .review-content {
    margin: auto;
  }
}
