
* {
  font-family: "Poppins";
}

/* header */

.header {
  display: block;
  max-width: 90%;
  padding: 10px 10px;
  margin: 0px auto;
  justify-content: space-evenly;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
}


.header ul li  {
  display: block;
  margin-right: 30px;
}

.header li a {
  padding: 10px;
  text-decoration: none;
  color: #414155;
  font-weight: 500;
}



/* .header li a:hover,
.header .menu-btn:hover {
  background-color: #A6E1FA; 
  border-radius: 50px;
  
} */

.header .logo {
  display: block;
  float: left;
  text-decoration: none;
}

.header .logo-name {
  padding: 0 10px;
}

.menu > li {
  position: relative;
  color: #000;

}

.menu > li:hover {
  color: #000;
}

.menu > li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* menu */

.menu {
  font-family: "Google Sans Regular";
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.nav-link {
  padding-top: 10px;
  
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu,
.header .menu-btn:checked ~ .try-for-free {
  max-height: 370px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Button Try For free */

.try-for-free{
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background: #706FE5;
  font-weight: bold;
  color: white;
  cursor: pointer;
}


/* Footer */

footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  
}

.footer-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  
}

.footer-about ul {
  list-style: none;
}

.footer-about ul li {
  margin-bottom: 15px;
}

.footer-about ul li a {
  text-decoration: none;
  color: rgb(85, 81, 81);
}

.footer-about ul li a:hover {
  color: rgb(58, 187, 149);
}

.footer-div-1 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reserved {
  text-align: center;
}
 
.reserved i {
  font-size: 35px;
  margin-left: 20px;
  color:rgb(85, 81, 81);
}

.reserved a {
  text-decoration: none;
}

.menu-icon {
  margin-top: -20px;
}
 


@media screen and (max-width: 860px) {
  .header li {
    margin-top: 20px;
  }

}

@media screen and (min-width: 860px) {
  .header li {
    float: left;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  
  
}

@media (max-width: 1008px) and (min-width: 860px) {
  .header {
    font-size: 12px;
  }

  .header ul li  {
    margin-right: 15px;
  }
}

@media screen and (max-width: 580px) {
  .footer-div {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .footer-div {
    margin: auto;
  }

  .logo-image {
    width: 130px;
  }

  
}


/* Landing Page */

/* Intro section */

.intro-section {
  width: 87%;
  font-family: "Poppins";
  margin: 30px auto;
}


.intro-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.intro-div > * {
  flex: 1;
}

.intro-content h3 {
  color:#1E1F4B;
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
}

.intro-content h3 span img {
  width: 200px;
  margin-bottom: -15px;
}

.intro-image img {
  width: 100%;
}

.intro-content p {
  margin-top: 30px;
  max-width: 400px;
}

.intro-buttons {
  display: flex;
  gap: 50px;
}

.faq {
  border: 2px solid #E5E7EB;
  background-color: #ffff;
  color: rgb(33, 31, 31);
}

.try-for-free:hover {
  transform: scale(1.04);
}


/* What We Do */

.our-activity-section {
  width: 90%;
  margin: 0px auto 30px auto;
}

.our-activity-div1{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
}

.our-activity-div h2 {
  color: #9747FF;
}

.our-activity-div p {
  color: #000000;
  font-weight: bold;
  font-size: 21px;
}



.our-activity {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

.feature {
  margin: auto;
  width: 250px;
}

.feature img {
  padding: 15px;
  background-color: #CAB0EC;
  border-radius: 10px;
  width: 25px;
}

.feature a {
  text-decoration: none;
}

.learn-more {
  margin-left:  25px;
  margin-top: 10px;
  color: #000000;
  font-weight: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.learn-more:hover {
  transform: scale(1.02);
}

.learn-more:hover i {
  transform: scale(1.2);
}


/* Courses Section */

.explore-course-section {
  width: 90%;
  margin: 10px auto 50px;
}

.explore-course-div {
  display: flex;
  flex-direction: column;
}

.explore-course-title h2 {
  font-size: 32px;
  font-weight: 600;
}

.explore-course-title h2 span {
  color:#9747FF;
}


/* News Letter Section */

.news-letter-section {
  width: 90%;
  margin: 10px auto 80px auto;
  font-family: "Poppins";
}

.news-letter-div {
  width: 700px;
  margin: auto;
  /* border: 1px solid rgb(145, 141, 141); */
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.75);
}

.news-letter-image-div {
  display: flex;
  gap: 30px;

}

/* .news-letter-image-div  > * {
  flex: 1;
} */

.news-letter-image img {
  width: 100%;
}

.news-letter-content h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 0;
}

.news-letter-content h1 {
  text-transform: uppercase;
  font-size: 28px;
  color: #8F57FF;
  margin-top: 10px;
}

.news-letter-content p {
  width: 250px;
}

.news-letter-content p strong {
  /* font-weight: bolder; */
  font-size: 18px;
}

.news-letter-form {
  width: 90%;
  display: flex;
  margin: auto;
}

.news-letter-form input {
  flex: 0.8;
  padding: 8px;
  border: 1px solid #eee;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  
}

.news-letter-form button{
  flex: 0.2;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #8F57FF;
  color: white;
  border: 1px solid #eee;
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.news-letter-div .your-email {
  color: #B7B7B7;
  text-align: center;
}



@media screen and (max-width: 980px) {

  /* Intro section */
  .intro-section {
    width: 90%;
    
  }
  
    .intro-content h3 {
      font-size: 35px;
    }

    .intro-image img {
      width: 100%;
    }
}

@media screen and (max-width: 780px) {

  /* Intro section */

  .intro-div {
    flex-direction: column;
    gap: 20px;
  }

  .intro-content h3 {
    font-size: 40px;
  }

  /* .intro-content h3,
  .intro-content p{
    text-align: center;
  } */

  .intro-buttons {
    justify-content: center;
  }

  .intro-image img {
    width: 100%;
  }

  .intro-content h3 span img {
    margin-bottom: -20px;
  }

  /* What we Do */

  .our-activity {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }

  /* News Letter */

  .news-letter-div {
    width: 100%;
  }

  .news-letter-image img {
    width: 110%;
  }
  
  .news-letter-content h3 {
    font-size: 14px;
  }
  
  .news-letter-content h1 {
    font-size: 21px;
  }
  
  .news-letter-content p {
    width: 100%;
    font-size: 14px;
  }
  
  .news-letter-content p strong {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {

  /* Intro section */

  .intro-content h3 {
    font-size: 30px;
  }

  .intro-content h3 span img {
    width: 150px;
    margin-bottom: -15px;
  }

  .intro-buttons {
    gap: 20px;
  }

  /* What we do  */
  .feature {
    width: 200px;
  }

  /* News Letter */

  .news-letter-section {
    /* width: 95%; */
    margin: 10px;
  }

  .news-letter-image-div {
    flex-direction: column;
  }

  .news-letter-image img {
    width: 100%;
  }

  .news-letter-image {
    display: flex;
    justify-content: center;
  }
  
  .news-letter-content h3,
  .news-letter-content h1,
  .news-letter-content p
  {
    text-align: center;
  }

  .news-letter-form {
    width: 100%;
  }

  .news-letter-form input {
    width: 60%;
  }
  .news-letter-form button {
    width: 40%;
  }


  
}