
@media screen and (max-width: 980px) {
    /* Navbar */

    .signup-login-div a button {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 780px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}